# Project docs
HELP.md
AGENT.md

/docs/*
!/docs/pr-5a-human-review-identity-tenant-boundary.md

/docs/pr1/*


/engineering-knowledge02/

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/timing.properties

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Java
*.class

# STS / Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/
